<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Callback Functions</h1>
        <form>
            <div>
                <input type="text" id="title" placeholder="Title"/>
                <input type="text" id="body" placeholder="Body"/>
            </div>
            <div>
                <button id="btn">Add Post</button>
            </div>
        </form>
        
        <div>
            <ul id="posts"></ul>
        </div>
        
    </div>
    
    
    <script type="text/javascript" src="/callbacks.js"></script>
</body>
</html>