<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>observer pattern</title>
</head>
<body>
    <h1>Observer Pattern</h1>
    <button class="sub-ms">Subscribe to milleseconds</button>
    <button class="unsub-ms">Unsubscribe from milleseconds</button>
    <br><br>
    <button class="sub-s">Subscribe to seconds</button>
    <button class="unsub-s">Unsubscribe from seconds</button>
    <br><br>
    <button class="fire">Fire!</button>
    
    <!--<script type="text/javascript" src="/observerpattern.js"></script>-->
    <script type="text/javascript" src="/observerpatteres6.js"></script>
</body>
</html>